<h1 class="text-center">
    Login
</h1>
<form [formGroup]="myForm" class="text-center" (ngSubmit)="submitHandler()">
    <hr>

    <mat-form-field appearance="outline">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>Invalid email</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>Invalid password</mat-error>
    </mat-form-field>

    <br>
    <button class="mt-1" type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit
        Form</button>

    <div *ngIf="success">
        Yay! We received your submission
    </div>
</form>